@tailwind base;
@tailwind components;
@tailwind utilities;


.header-image {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #3b82f6; /* Tailwind Blue */
}

.header-name {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #3b82f6;
}

.header-mrp {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #3b82f6;
}
